.quem-somos{
    align-items: center;
    display: flex;
}

.quem-somos__conteudo{
    justify-content: center;
}

.quem-somos__titulo{

    color: var(--cor-principal);
    font-size: 32px;
    display: flex;
}

.quem-somos__paragrafo{

    text-align: justify;
}

.quem-somos__titulo::before{
    content: "";
    height: 40px;
    width: 5px;
    margin-right: 5px;
    background-color: var(--cor-principal);
    position: relative;
}